In [ ]:
import numpy as np
import matplotlib
import scipy
import matplotlib.pyplot as plt
import sklearn.datasets
import sklearn.cross_validation as cv
import sklearn.linear_model as lm
import scipy.io
import sklearn.model_selection
import pandas as pd
#importing data
file = 'data.csv'
file1='test.csv'
data=pandas.read_csv(file)
data2=pandas.read_csv(file1)

In [108]:
X=data.iloc[:,1:5]
print (X)

    Longitude   Latitude  Population estimate 2015  \
0   42.251000  34.157110                    815484
1   31.491310  30.589330                    318335
2   40.769300  36.493910                   1303724
3  -86.407580  38.586280                    852385
4  -86.407580  38.586280                   4197041
5  -81.792100  36.631340                   2517464
6   36.186686  32.842770                    838532
7   36.083850  34.944510                    670683
8   36.718079  34.731899                   1549477
9   36.276527  33.513800                   1471348
10 -86.407580  38.586280                     83601

    Refugee Settlement Population
0                          121750
1                             815
2                          173100
3                            1115
4                           12384
5                           16424
6                            2570
7                            2267
8                           16287
9                             250
10                            770

In [116]:
Y=data.iloc[:,5]
print (Y)
A=sum(Y)/len(Y)
A

0     512.587139
1       0.863306
2      43.481147
3      11.683241
4     577.981331
5       0.700724
6       7.585724
7       5.810037
8      32.429709
9       0.000000
10      4.478992
Name: Srface water area, dtype: float64

108.87285011281818

In [110]:
Z=data2.iloc[:,4]
print (Z)

0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
5      0.000000
6      2.370552
7      1.752391
8      0.000000
9      0.000000
10     0.000000
11     0.000000
12     0.000000
13     0.323249
14     0.000000
15     0.000000
16     0.000000
17     8.373273
18     0.000000
19     0.000000
20     0.000000
21     0.000000
22     0.000000
23     0.731946
24     6.407581
25     3.193754
26     4.780310
27     3.430400
28     3.605868
29     5.660617
30    10.390659
31     4.424646
32     4.152072
33     4.960464
34     0.000000
35     5.550130
36     8.468886
37    14.963532
Name: water, dtype: float64

In [111]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score


X_train, X_test, y_train, y_test = train_test_split(X, Y)# splitting data into train and test set
model =LinearRegression()#applying regression on each fold
model.fit(X_train,y_train)#fitting the model on each fold
predicted = cross_val_predict(model, X_test, y_test, cv=2)#performance on testset
print(predicted)

[  11.68324075   11.68324075 -246.46074629]

In [125]:
arr=np.repeat(A, 38)
arr

array([108.87285011, 108.87285011, 108.87285011, 108.87285011,
       108.87285011, 108.87285011, 108.87285011, 108.87285011,
       108.87285011, 108.87285011, 108.87285011, 108.87285011,
       108.87285011, 108.87285011, 108.87285011, 108.87285011,
       108.87285011, 108.87285011, 108.87285011, 108.87285011,
       108.87285011, 108.87285011, 108.87285011, 108.87285011,
       108.87285011, 108.87285011, 108.87285011, 108.87285011,
       108.87285011, 108.87285011, 108.87285011, 108.87285011,
       108.87285011, 108.87285011, 108.87285011, 108.87285011,
       108.87285011, 108.87285011])

In [128]:
mse2=(arr-Z)/100

In [129]:
mse2

0     1.088729
1     1.088729
2     1.088729
3     1.088729
4     1.088729
5     1.088729
6     1.065023
7     1.071205
8     1.088729
9     1.088729
10    1.088729
11    1.088729
12    1.088729
13    1.085496
14    1.088729
15    1.088729
16    1.088729
17    1.004996
18    1.088729
19    1.088729
20    1.088729
21    1.088729
22    1.088729
23    1.081409
24    1.024653
25    1.056791
26    1.040925
27    1.054424
28    1.052670
29    1.032122
30    0.984822
31    1.044482
32    1.047208
33    1.039124
34    1.088729
35    1.033227
36    1.004040
37    0.939093
Name: water, dtype: float64